<div class="navigation">
    <h4>Elisi</h4>
    <hr>
    <div class="menu">
        <ul class="menu-items">
            <li class="menu-item active">
                <fa-icon [icon]="faCalendar"></fa-icon>
                <a>Weekly</a>
            </li>
            <li class="menu-item">
                <fa-icon [icon]="faFolder"></fa-icon>
                <a>Workspace Settings</a>
            </li>
        </ul>
        <hr>
        <ul class="menu-items">
            <li class="menu-item">
                <fa-icon [icon]="faTrophy"></fa-icon>
                <a>Achievement</a>
            </li>
            <li class="menu-item">
                <fa-icon [icon]="faBlog"></fa-icon>
                <a>Blog</a>
            </li>
            <li class="menu-item">
                <fa-icon [icon]="faUser"></fa-icon>
                <a>Account</a>
            </li>
            <li class="menu-item">
                <fa-icon [icon]="faRocket"></fa-icon>
                <a>Register and Sync Free</a>
            </li>
        </ul>
    </div>
</div>
















<!-- <div class="modal-header">
    <h5 class="modal-title">
        {{title}}
    </h5>
    <button type="button" class="custom-close" (click)='closeModal()'>
        ×
    </button>
</div>
<div class="modal-body">
    <template #modalContainer></template>
</div> -->