<div class="navigation">
    <h4>Elisi</h4>
    <hr>
    <div class="menu">
        <ul class="menu-items">
            <li class="menu-item">
                <a routerLink='weekly' routerLinkActive='active' class="p-0">
                    <fa-icon [icon]="faCalendar"></fa-icon>
                    Weekly
                </a>
            </li>
            <li class="menu-item">
                <a class="p-0">
                    <fa-icon [icon]="faFolder"></fa-icon>
                    Workspace Settings
                </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-items">
            <li class="menu-item">
                <a routerLink='achievement' routerLinkActive='active' class="p-0">
                    <fa-icon [icon]="faTrophy"></fa-icon>
                    Achievement
                </a>
            </li>
            <li class="menu-item">
                <a routerLink='blog' routerLinkActive='active' class="p-0">
                    <fa-icon [icon]="faBlog"></fa-icon>
                    Blog
                </a>

            </li>
            <li class="menu-item">
                <a routerLink='account' routerLinkActive='active' class="p-0">
                    <fa-icon [icon]="faUser"></fa-icon>
                    Account
                </a>
            </li>
            <li class="menu-item">
                <a class="p-0">
                    <fa-icon [icon]="faRocket"></fa-icon>
                    Register and Sync Free
                </a>
            </li>
        </ul>
    </div>
</div>















<!-- <div class="modal-header">
    <h5 class="modal-title">
        {{title}}
    </h5>
    <button type="button" class="custom-close" (click)='closeModal()'>
        ×
    </button>
</div>
<div class="modal-body">
    <template #modalContainer></template>
</div> -->