@import "/src/variables";

.custom-button {
  width: 100%;
  height: 33px;
  background: $green;
  color: white;
  border-radius: 35px;
  user-select: none;

  &.inactive {
    color: $white !important;
    background: $dark-grey;
  }
}

button {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 15px;
  color: white;

}
