@import "/src/variables";

.weeky {
  .weekly-calendar {
    border-bottom: 1px solid slategrey;
    height: 55px;
  }

  .weekly-body {
    height: calc(100% - 103px);
    background: $dark-background;
  }

  .weekly-calendar {
    padding: 2px 15px;

    h2,
    p,
    span,
    h4,
    fa-icon {
      color: white;
      margin: 0;
    }

    h2 {
      font-size: 40px;
    }

    h4 {
      font-size: 17px;
      padding-bottom: 3px;
      color: $yellow;
    }

    .navigation {
      fa-icon {
        font-size: 17px;
      }
    }

    p {
      font-size: 11px;
      line-height: unset !important;
      padding-bottom: 3.4px;
    }

    .left {
      line-height: 1.4;
      padding-left: 6px;
    }

    span {
      font-size: 15px;
      color: $dark-grey;
    }

    fa-icon {
      cursor: pointer;
    }

    .right-side>fa-icon {
      color: $green;
    }
  }

  .weekly-filter {
    border-bottom: 1px solid slategrey;

    button {
      color: $green;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid $green;
      margin-left: 10px;
      border-radius: 18px;
      font-size: 12px;
      font-family: unset !important;
      font-size: 13px;
    }

    .active {
      background: $green;
      color: white;
    }
  }
}

.progress-bar {
  background-color: $yellow;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 54px;
}
