@import 'src/variables';

.title {
  color: #757575;
  font-weight: bold;
}

.transparent-bg {
  background: #707070;
  opacity: .4;
  z-index: 2;
}

.modal {
  text-align: left;
  display: block;
  z-index: 3;


  .modal-dialog {
    animation: bounceIn 1s;

  }
}

.modal-header {
  align-items: center;
}

.modal-content {
  border: none;
  border-radius: 5px;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}


.modal-title {
  font-size: 27px;
}

.modal-body {
  border-bottom: 0;
  padding-top: 5px;
  padding-right: 26px;
  padding-left: 26px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: $dark-background;
  font-size: 15px;
  border: 1px solid $slate-grey;
}



@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}
