@import 'src/variables';

.wrapper {
  .nav {
    min-width: 300px;
    border-right: 1px solid #708090;
    position: relative;

    &:hover {
      .toggle {
        opacity: 1;
      }
    }

    .toggle {
      position: absolute;
      opacity: 0;
      width: 30px;
      height: 30px;
      transition: .2s ease-in;
      border-radius: 50%;
      border: 1px solid #708090;
      z-index: 3;
      display: flex;
      top: 40px;
      justify-content: center;
      align-items: center;
      background: $background;
      cursor: pointer;
      right: -5%;

      fa-icon {
        color: white;
        font-size: 12px;
      }
    }
  }
}

.hidden {
  .nav {
    min-width: unset !important;
    width: 27px !important;
    // overflow: hidden;
    animation: unset !important;
    flex: unset !important;

    app-navigation {
      opacity: 0;
    }

    .toggle {
      right: -61% !important;
      opacity: 1 !important;
    }
  }
}

