// DARK THEME

$background: rgb(37, 35, 55);
$error: #cf6679;
$pink: #bb86fc;
$blue: #3700b3;
$green: #63CC6C;
$dark-background: rgb(33, 31, 49);
$yellow: #F7C347;


// LIGHT THEME

// COMMON
$dark-grey: rgb(170, 170, 170);
$white: rgb(255, 254, 254);
$slate-grey: slategrey;
