// DARK THEME

$background: rgb(37, 35, 55);
$error: #cf6679;
$pink: #bb86fc;
$blue: #3700b3;
$green: rgb(99, 204, 108);
$dark-background: rgb(33, 31, 49);
$yellow: rgb(247, 195, 71);


// LIGHT THEME

// COMMON
$dark-grey: rgb(170, 170, 170);
$white: rgb(255, 254, 254);
$slate-grey: slategrey;
