@import "./scss/main.scss";

* {
  font-family: "WorkSans Regular" !important;
}

.modal-header {
  border-bottom: 0;
  padding: 0px;

  .custom-close {
    font-size: 16px;
  }

  h5 {
    font-size: 17px;
  }
}

.custom-checkbox {
  input[type="checkbox"]:not(:checked) {
    &+label {
      &::after {
        background: $dark-background;
        border: 1px solid $dark-grey;
        border-radius: 4px;
      }
    }
  }
}

.button-center {
  height: 10%;
  width: 186px;
  margin: 0px auto;
}


.invalid {
  position: relative;
  border-bottom: 1px solid red !important;
  animation: error .2s ease-in;
}

@keyframes error {
  0% {
    width: 50%;
  }

  50% {
    width: 50%;
  }

  75% {
    width: 75%;
  }

  100% {
    width: 100%;
  }
}
