<div class="habit">
    <div class="modal-header">
        <div></div>
        <h5 class="modal-title">
            Add
        </h5>
        <button type="button" class="custom-close">
            X
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" placeholder="habit name" class="w100" autofocus>
        </div>
        <div class="form-group d-flex justify-content-between">
            <label for="">Tracker type:</label>
            <select name="" id="">
                <option value="" selected>Habit</option>
                <option value="" selected>Water</option>
            </select>
        </div>
        <div class="form-group d-flex justify-content-between">
            <div class="custom-item">
                <input type="checkbox" id="m">
                <label for="m">M</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="t">
                <label for="t">T</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="w">
                <label for="w">W</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="t">
                <label for="t">T</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="f">
                <label for="f">F</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="s">
                <label for="s">S</label>
            </div>
            <div class="custom-item">
                <input type="checkbox" id="s">
                <label for="s">S</label>
            </div>
        </div>
        <div class="form-group">
            <label for="">Set a workspace</label>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label for="">Show in Planner</label>
                <app-checkbox></app-checkbox>
            </div>
        </div>
        <div class="form-group">
            <app-button>Save</app-button>
        </div>
        <div class="form-group">
            <span>Elisi Tip: Keep habits small and achievable. A start is one hundred times better than not doing at
                all.</span>
        </div>
    </div>
</div>