<div class="week-selector">
    <div class="week-selector-header">
        <div class="d-flex justify-content-between">
            <div class="place-holder"></div>
            <h5>Week Selector</h5>
            <h5 class="set-today">set to today</h5>
        </div>
    </div>
    <div class="week-selector-body d-flex">
        <div class="week" 
            *ngFor="let item of weeks; let i = index" [ngClass]='{"active": i === 3}' 
            (click)='slide(i)'>
            <span>WK</span>
            <p>28</p>
            <span>23-4</span>
        </div>
    </div>
</div>