<div class="d-flex justify-content-center w100 notes">
    <div class="notes h100 w100 text-center">
        <div class="block-header">
            <img src="assets/icons/note.svg" alt="">
        </div>
        <div class="block-body text-center">
            <h2>Notes</h2>
            <span>Fast notes that goes with the week</span>
            <br>
            <span>Full text search to find any past notes</span>
        </div>
        <div class="block-footer">
            <app-button (click)='openAddNoteModal()'>Add Note</app-button>
        </div>
    </div>
</div>